<div class="col-sm-3 col-md-3">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: white">
                <h4 class="panel-title" style="color: #337ab7">
                    <span class="glyphicon glyphicon glyphicon-lock" style="margin-right: 5px; color: #337ab7"></span>Console d'administration
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <span class="glyphicon glyphicon-th-list" style="margin-right: 5px; color: #337ab7"></span>
                        {{#link-to "dashboard"}}Liste des favoris{{/link-to}}
                    </a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <span class="glyphicon glyphicon-star-empty" style="margin-right: 5px; color: #337ab7"></span>
                        {{#link-to "add"}}Ajouter un favoris{{/link-to}}
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
