<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/assets/icon.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav" style="margin-left: 15px">
                <li>
                    <h3 style="margin-top: 10px; font-family: -webkit-body; color: #4a4646;">O'Wish</h3>
                </li>
            </div>
        </div>

    </div>
</nav>