{{navigation-bar username=username}}
<div class="container">
    <div class="row">
        {{dashboard-menu username=username}}
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Ajouter un favoris </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Titre</label>
                            {{input value=model.title class="form-control" placeholder="Titre"}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Description </label>
                            {{input value=model.description class="form-control" type="text" placeholder="Description"}}
                        </div>
                        <button type="submit" {{action "addwish"}} class="btn btn-default">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
