{{navigation-bar username=username}}
<div class="container">
    <div class="row">
        {{dashboard-menu}}
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Liste des favoris</div>
                <div class="panel-body">
                    <div class="list-group">
                      {{#each model as |wish|}}
                          <a href="#" class="list-group-item">
                              <h4 class="list-group-item-heading">{{wish.title}}</h4>
                              <p class="list-group-item-text">{{wish.content}}</p>
                              <p class="list-group-item-text" style="text-align: right">Ajouté le {{wish.formatted_date_publication}} par {{wish.firstname}} {{wish.lastname}}</p>
                          </a>
                      {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
