{{navigation-bar}}
<div class="container">
  <div class="row">
      <div class="col col-md-6 col-md-offset-3">
          <form>
              <div class="form-group">
                  <label for="exampleInputEmail1">Adresse Email</label>
                  {{input value=model.username class="form-control" placeholder="Identifiant"}}
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe </label>
                  {{input value=model.password class="form-control" type="password" placeholder="Mot de passe"}}
              </div>
              <button type="submit" {{action "login"}} class="btn btn-default">Se connecter</button>
          </form>
      </div>
  </div>
</div>
