{{navigation-bar username=username}}

<div class="row">
    <div class="col col-md-6 col-md-offset-3">
        {{#each mywish as |wish|}}
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{wish.title}}</h4>
                <p class="list-group-item-text">{{wish.content}}</p>
                <p class="list-group-item-text" style="text-align: right">Ajouté le {{wish.formatted_date_publication}} par {{wish.firstname}} {{wish.lastname}}</p>
            </a>
        {{/each}}
    </div>
</div>